﻿<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet"
		  href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
	<title>@ViewBag.Title</title>
</head>
<body>
	<div data-role="page" id="page1">
		<div data-thme="a" data-role="header" data-position="fixed">
			<h3>SportsStore</h3>
			@Html.Action("Menu", "Nav")
		</div>
		<div data-role="content">
			<ul data-role="listview" data-divider-theme="b" data-insert="false">
				@RenderBody()
			</ul>
		</div>
	</div>
</body>
</html>
