﻿@model IEnumerable<SportsStore.Core.Models.Product>

@{
	ViewBag.Title = "Admin: All Products";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>All Products</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-condensed table-bordered">
			<tr>
				<th class="text-right">ID</th>
				<th>Name</th>
				<th class="text-right">Price</th>
				<th class="text-center">Actions</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-right">@item.ProductId</td>
					<td>@Html.ActionLink(item.Name, "EditProduct", new { productId = item.ProductId })</td>
					<td class="text-right">@item.Price.ToString("c")</td>
					<td class="text-center">
						@using (Html.BeginForm("DeleteProduct", "Admin"))
						{
							@Html.Hidden("ProductId", item.ProductId)
							@Html.Hidden("Name", item.Name)
							<input type="submit" class="btn btn-default btn-xs" value="Delete" />
						}
					</td>
				</tr>
			}
		</table>
	</div>
	<div class="panel-footer text-center">
		@Html.ActionLink("Add a new product", "AddNewProduct", null, new { @class = "btn btn-default" })
	</div>
</div>
