﻿@using System.Data.Entity.Core.Objects
@model SportsStore.WebUI.Models.Product.ProductModel
@{
	ViewBag.Title = "Product Details";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var h3Text = Model.ProductId > 0 ? "Edit product" : "Create new product";
	var buttonText = Model.ProductId > 0 ? "Save" : "Create";
	var action = Model.ProductId > 0 ? "EditProduct" : "AddNewProduct";
}
<div class="panel">
	<div class="panel-heading">
		<h3>@h3Text</h3>
	</div>
	@using (Html.BeginForm(action, "Admin", FormMethod.Post, new { @class = "form-control-static", role = "form", enctype = "multipart/form-data" }))
	{
		<div class="panel-body">
			
			@Html.HiddenFor(x => x.ProductId)
			@foreach (var property in ViewData.ModelMetadata.Properties)
			{

				switch (property.PropertyName)
				{
					case "ProductId":
					case "ImageData":
					case "ImageMimeType":
						break;
					default:
						<div class="form-group">
							<label>@(property.DisplayName ?? property.PropertyName)</label>
							@if (property.PropertyName == "Description")
							{
								@Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = "5" })
							}
							else if (property.PropertyName == "Price" && action == "AddNewProduct")
							{
								@Html.TextBox(property.PropertyName, "", new { @class = "form-control" })
							}
							else
							{
								@Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
							}
							@Html.ValidationMessage(property.PropertyName)
						</div>
						break;
				}
			}
			<div class="form-group">
				<div style="position: relative;">
					<label>Image</label>
					<a class='btn' href='javascript:;'>
						Chose File...
						<input type="file" name="Image" size="40" style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
							   onchange='$("#upload-file-info").html($(this).val());' />
					</a>
					<span class='label label-info' id="upload-file-info"></span>
				</div>
				@if (@Model.ImageData == null)
				{
					<div class="form-control-static">No Image</div>
				}
				else
				{
					<img class="img-thumbnail" width="150" height="150" src=@Url.Action("GetImage", "Product", new {Model.ProductId}) />
				}
			</div>
		</div>
		<div class="panel-footer">
			<input type="submit" value="@buttonText" class="btn btn-primary" />
			@Html.ActionLink("Cancel and return to List", "Index", null, new { @class = "btn btn-default" })
		</div>
	}
</div>

