﻿@model SportsStore.Core.Models.ShippingDetails
@{
	ViewBag.Title = "SportsStore : Checkout";
}

<h2>Check out now</h2>

<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	<h3>Ship to</h3>
	<div class="form-group">
		<label>Name</label>
		@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
	</div>
	<h3>Adress</h3>
	foreach (var property in ViewData.ModelMetadata.Properties)
	{
		if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
		{
			<div class="form-group">
				<label>@(property.DisplayName ?? property.PropertyName)</label>
				@Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
			</div>
		}
	}
	<h3>Options</h3>
	<div class="custom-checkbox">
		<label>@Html.EditorFor(x => x.GiftWrap)</label>
		Gift wrap these items
	</div>
	<div class="text-center">
		<input class="btn btn-primary" type="submit" value="Complete order" />
	</div>
}
