﻿@model SportsStore.WebUI.Models.Cart.CartIndexViewModel
@{
	ViewBag.Title = "Sports Store: Your Cart";
}
<h2>Your cart</h2>
<style>
	#cartTable td { vertical-align:middle}
</style>
<table id="cartTable" class="table">
	<thead>
		<tr>
			<th>Quantity</th>
			<th>Item</th>
			<th class="text-right">Price</th>
			<th class="text-right">Subtotal</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.Cart.Lines)
		{
			<tr>
				<td class="text-center">@line.Quantity</td>
				<td class="text-center">@line.Product.Name</td>
				<td class="text-right">@line.Product.Price.ToString("c")</td>
				<td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
				<td>
					@using (Html.BeginForm("RemoveFromCart", "Cart"))
					{
						@Html.Hidden("ProductId", line.Product.ProductId)
						@Html.HiddenFor(x => x.ReturnUrl)
						<input class="btn btn-sm btn-warning" type="submit" value="Remove" />
					}
				</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" class="text-right">Total: </td>
			<td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
		</tr>
	</tfoot>
</table>
<div class="text-center">
	<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
	@Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary"})
</div>

